*{
	margin: 0px;
	padding:0px;
	font-family:sans-serif;
}
#sidebar{
	position:fixed;
	width:200px;
	height:100%;
	background:LIGHTCORAL;
	left: -200px;
	transition: all 500ms linear;
	top:0px;
}
#sidebar.active{
	left: 0px;
}

#sidebar ul li {
	color:rgba(230,230,230,0.9);
	list-style:none;
	padding:15px 10px;
	border-bottom: 2px solid rgba(100,100,100,0.3);
}
#sidebar .toggle-btn {
	position:absolute;
	left:220px;
	top:20px;
}
#sidebar .toggle-btn span {
	display:block;
	width:30px;
	height:5px;
	background: LIGHTCORAL;
	margin: 5px 0px;

}
.image{
	width: 25px;
	height: 25px;
	margin-top: 5px;
}
.nice{
	width: 300px;
	height: 300px;
	margin-top: 5px;
}
.toff{
	margin-left: 200px;

}